@model IEnumerable<chatAppRatings.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1>Ratings</h1>
<p>
    @{
        float sum = 0;
        float i = 0;
        foreach (var item in Model)
        {
            sum += item.NumericRating;
            i += 1;
        }
        if (i > 0)
        {
            float avg = sum / i;
            <h5>Ratings average: @avg</h5>
        }
    }
</p>
<p>
    <a asp-action="Create">ADD RATING</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumericRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumericRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
