@model IEnumerable<chatAppRatings.Models.Rating>

@{
    ViewData["Title"] = "Index";
}
<div class="border border-2 p-3 bg-light">
    <h1 class="text-center">RATINGS</h1>
    <p>
        @{
            float sum = 0;
            float i = 0;
            foreach (var item in Model)
            {
                sum += item.NumericRating;
                i += 1;
            }
            if (i > 0)
            {
                float avg = sum / i;
                <h5 class="text-center">Ratings average: @avg</h5>
            }
        }
    </p>

    <p>
        <a asp-action="Create" class="btn btn-outline-dark">Add Rating</a>
    </p>

    <form asp-action="Search">
        <input name="query" id="search" />
        <input type="submit" value="Search" />
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Rating
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FeedBack)
                </th>
                <th>
                    Creation Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumericRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeedBack)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




@section Scripts{
    <script src="~/js/search.js"></script>
}

